<div class="social-container">

    <div class="divider">
        <span>ou continue com</span>
    </div>


    <div class="social-buttons">


        <button class="social google" (click)="loginGoogle()">>

            <span class="icon">
                G
            </span>

            Google

        </button>



        <button class="social github" (click)="loginGithub()">

            <span class="icon">
                GH
            </span>

            Facebook

        </button>

    </div>

</div>
